*{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,h3,h4,h5{
    font-family: 'Noto Serif TC', serif;
}

p{
    font-family: 'Noto Sans TC', sans-serif;
}

html,body{
    height: 100%;
}
body{
    background-image: url(image/map.png); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position:relative;
}
menu{
    width: 40px;
    height: 40px;
    margin: -5%;
}
.side-menu{
    position: relative;
    width: 300px;
    height: 100%;
    padding: 50px 35px;
    box-sizing: border-box;
    background-color: #c8e5e3;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: 1s;
    font-family: 'Noto Serif TC', serif;
}
.side-menu label{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0px;
    top: 30px;
    bottom: 0;
    margin: -5%;
}
#side-menu-switch{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
#side-menu-switch:checked+.side-menu{
    transform: translateX(0);
}
nav div{
    padding-bottom: 50px;
}
nav a{
    display: block;
    padding: 30px 40px;
    color: #4b8c57;
    text-decoration: none;
    position: relative;
}
nav a+a::before{
    content: '';
    position: absolute;
    border-top: 1px solid #ce4c2c;
    left: 20px;
    right: 2 0px;
    top: 0;
}
.column_box img{
    width: 80px;
    height: 100px;
}
.ghost1 img {
    position: absolute;
    top: 10%;
    left:45%;
}
.ghost2 img {
    position: absolute;
    top: 25%;
    left:40%;
}
.ghost3 img {
    position: absolute;
    top: 42%;
    left:36%;
}
.ghost4 img {
    position: absolute;
    top: 55%;
    left:38%;
}
.ghost5 img {
    position: absolute;
    top: 23%;
    left:52%;
}
.ghost6 img {
    position: absolute;
    top: 45%;
    left:42%;
}
/* .modal-dialog {   
    /* position: fixed; 
    margin: auto;
    width: 320px;
    height: 100%;
    right: 0px;
    position: absolute;  
    left: 30%; 
    z-index: 10040; 
    overflow: auto; 
    overflow-y: auto;
} */

.modal-content {
    height: 100%;
}
.modal img{
    width: 300px;
    height: 420px;
    margin-left: 23%;
}
.modal h1,h3,p{
	font-weight: normal;
	padding-top: 15px;
    text-align:center;
}

.modal form{
    margin: 0 100px;
    font-size: 20px;
    font-family: 'Noto Serif TC', serif;
}
#recipient-name{
    margin: 20px;
}
.form-group{
    margin:10% 0;
}
.modal-header{
    background-color: #f0f0f0;
}
.modal-body{
    background-color: #f0f0f0;
}
.modal-footer{
    background-color: #f0f0f0;
}
#box1 p{
    border-color:gray;
}